screenshots
effect-blur=15x10
effect-vignette=0.5:0.5
fade-in=0.2

font=HackGen Console NF
font-size=24

indicator-radius=120
indicator-thickness=12

# Nord テーマカラー
ring-color=4c566a
inside-color=2e344000
line-color=3b4252
separator-color=00000000

# テキスト
text-color=eceff4
text-clear-color=eceff4
text-caps-lock-color=ebcb8b
text-ver-color=eceff4
text-wrong-color=eceff4

# キー入力時
key-hl-color=88c0d0
bs-hl-color=bf616a

# 認証中
ring-ver-color=88c0d0
inside-ver-color=5e81ac40
line-ver-color=88c0d0

# 認証失敗
ring-wrong-color=bf616a
inside-wrong-color=bf616a40
line-wrong-color=bf616a

# Caps Lock
ring-caps-lock-color=ebcb8b
inside-caps-lock-color=ebcb8b40
line-caps-lock-color=ebcb8b
